use flake

# Using _build directory may not be properly allowed for storing user contents
export ODIG_CACHE_DIR="$(pwd)/_build/default/.odig"
export SHERLODOC_DB="$(pwd)/_build/default/.sherlodoc.marshal"
