# SPDX-FileCopyrightText: 2017-2023, Facebook, Inc.
# SPDX-FileCopyrightText: 2023-present, Tarides.
# SPDX-License-Identifier: MIT

# Latest version is available from
# https://github.com/ocaml-ppx/ocamlformat/blob/main/.ocamlformat

profile = ocamlformat
break-cases = fit
margin = 77
wrap-comments = true
line-endings = lf

# To make ocaml-ci happy
version = ignore
version-check = false
