# SPDX-License-Identifier: Unlicense
name: Check format

on:
  pull_request:
    paths-ignore:
      - 'README.*'

  push:
    branches:
      - master
    paths-ignore:
      - 'README.*'

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Nix
        uses: ./.github/actions/setup
        # with:
        #   cachix-token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Check format
        run: |
          system="$(nix eval --expr builtins.currentSystem --impure --raw)"
          nix build ".#checks.$system.treefmt"
