name: Build and publish documentation

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'doc/**'
  push:
    branches:
      - master
    paths:
      - 'doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      name: Install pnpm
      with:
        version: 10
        run_install: false

    - name: Install Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: 24
        cache: 'pnpm'
        cache-dependency-path: 'doc/pnpm-lock.yaml'

    - name: Install dependencies
      working-directory: doc
      run: pnpm install

    - name: Build documentation
      working-directory: doc
      run: pnpm run build

    - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
      with:
        path: doc/dist

  deploy:
    needs: build-and-upload
    if: ${{ github.ref == 'refs/heads/master' }}

    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
