name: Check ocaml-dune

on:
  push:
    paths:
      # Set this to the directory of the template
      - ocaml-dune/**
      - .github/workflows/check-ocaml-dune.yml
  workflow_dispatch:
  workflow_call:

concurrency:
  group: check-ocaml-dune-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            flake-registry =  https://raw.githubusercontent.com/akirak/flake-pins/master/registry.json

      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: akirak
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          pushFilter: '-source$'

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          path: ./tmp

      - name: Initialize a Dune project
        run: |
          nix run nixpkgs#dune_3 -- init project hello work

      - name: Use the template
        run: |
          nix flake new -t ./tmp#ocaml-dune work

      - name: Prepare the project
        working-directory: work
        run: |
          sed -i 's/throw "Name your OCaml package"/"hello"/' flake.nix
          sed -i 's/throw "Version your OCaml package"/"0.1"/' flake.nix
          git init
          git add .

      - name: Check executables
        run: |
          nix develop -L --command ocamlc --version
        working-directory: work
