name: Check elixir

on:
  push:
    paths:
      # Set this to the directory of the template
      - elixir/**
      - .github/workflows/check-elixir.yml
  workflow_dispatch:
  workflow_call:

concurrency:
  group: check-elixir-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: ./tmp
      - run: nix flake new -t ./tmp#elixir ./work
      - name: Prepare the project
        working-directory: work
        run: |
          git init
          git add .

      - name: Check executables
        run: |
          nix develop -L --command mix help
          nix develop -L --command elixirc --version
        working-directory: work
