name: Check pre-commit

on:
  push:
    # Set this to the directory of the template
    # paths:
    # - pre-commit

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v14
      with:
        install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
        install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
        extra_nix_config: |
          experimental-features = nix-command flakes
    # Run any task to check your flake
    - working-directory: pre-commit
      run: nix develop --command pre-commit --version
