name: Check elixir

on:
  push:
    paths:
      # Set this to the directory of the template
      - elixir/**
      - .github/workflows/check-elixir.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v23
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          path: ./tmp
      - run: nix flake new -t ./tmp#elixir ./work
      - name: Prepare the project
        working-directory: work
        run: |
          git init
          git add .

      - name: Check executables
        run: |
          nix develop -L --command mix help
          nix develop -L --command elixirc --version
        working-directory: work
