name: Check node-typescript

on:
  push:
    paths:
    - node-typescript/**
    - .github/workflows/check-node-typescript.yml
  workflow_dispatch:
  workflow_call:

concurrency:
  group: check-node-typescript-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        path: ./tmp
    - run: nix flake new -t ./tmp#node-typescript ./work
    - name: Prepare the project
      working-directory: work
      run: |
        git init
        git add .

    - run: nix develop -L -c tsc --version
      working-directory: work
    - run: nix develop -L -c typescript-language-server --version
      working-directory: work
