name: Check license

on:
  pull_request:
    # This ignore list does not cover the entire set of irrelevant files, but it
    # saves resources in many cases.
    paths-ignore:
      - '.github/**'
      - '*.md'
      - '**/*.lock'
      - '**/*.json'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # - uses: tj-actions/changed-files@dcc7a0cba800f454d79fff4b993e8c3555bcc0a8 # v45
      #   id: changed-files
      #   with:
      #     files_ignore: |
      #       /*.md
      #       **/*.lock
      #       **/*.json
      #       doc/*.*
      #       dev/**
      #       .github/**

      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - run: nix profile install nixpkgs#reuse

      - name: Check license
        run: 'reuse lint-file ${{ steps.changed-files.outputs.all_changed_files }}'
